<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>

        <a href="https://mit-dmse-breakerspace.github.io">
        <img src="/assets/img/logo_text.svg" alt="Breakerspace logo" />
        </a>
        <br>
        <p>{{ site.description | default: site.github.project_tagline }}</p>
       
        <a href="https://breakerspace.mit.edu/index.html">Home</a><br>
        <a href="https://breakerspace.mit.edu/lab.html">Lab</a><br>
        <a href="https://breakerspace.mit.edu/sop.html">SOPs and tutorials</a><br>
        <a href="https://breakerspace.mit.edu/lounge.html">Lounge</a><br>
        <a href="https://breakerspace.mit.edu/resources.html">Resources</a><br>
        <a href="https://breakerspace.mit.edu/team.html">Team</a><br>
        <br>

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>The Breakerspace is brought to you by the <a href="https://dmse.mit.edu">MIT Department of Materials Science & Engineering</a><br>
        <a href="https://accessibility.mit.edu">accessibility.mit.edu</a></small>
        </p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
